.header {
    @apply relative w-full h-screen flex items-center justify-center bg-white bg-cover bg-no-repeat;
    background-image: url('../assets/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    backcground-repeat: no-repeat;
    overflow-x: hidden;
}

.header::before {
    content: '';
    @apply absolute inset-0 bg-black opacity-25;
}
/* Centered Text*/
.textBlock {
    @apply text-center z-10;
}

.title {
    @apply text-5xl font-extrabold mb-4;
}

.tagLine {
    @apply text-lg text-gray-600;
}

.socialNav{
    @apply absolute top-8 right-8 flex space-x-6 z-20;
}

.socialLinks {
    @apply text-black hover:text-neutral-700 transition-colors duration-200;
}

