.section {
    padding: 4rem 1rem;
    text-align: center;
    background-color: #fff;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #111827;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #f9fafb;
    border-radius: 1rem;
    padding: 2rem;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.03);
}

.company {
    font-size: 1.25rem;
    font-weight: 600;
    color: #111937;
    margin-bottom: 0.5rem;
}

.role {
    font-size: 0.95rem;
    color: #4b5563;
}


.videoWrapper {
    max-width: 1000px;
    margin: 20px auto;
}

.videoGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: center;
}

.video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.05);
}
